.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 460px;
  height: auto;
  background-color: #726a6a;
  margin: 10px;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  font-size: x-large;
}

.card button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.card button:hover {
  background-color: #0056b3;
}
.row {
  display: flex;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 36px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease; /* Smooth color transition */
}

.navbar ul li a:hover {
  color: #ffd700; /* Change color on hover */
}

@media screen and (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li {
    display: block;
    margin: 10px 0;
  }
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.footer-nav {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav li a {
  color: #fff;
  text-decoration: none;
}

.footer-nav li a:hover {
  color: #ffd700;
}

