.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 460px;
  height: auto;
  background-color: #ACE2E1;
  margin: 10px;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card:hover {
  transform: translateY(-5px); /* Move the card up slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1); /* Add a stronger shadow on hover */
}
.card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: #010000;
  font-size: x-large;
}

.card button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #F7EEDD;
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
.card button:hover {
  transform: translateY(-5px); /* Move the card up slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}
.row {
  display: flex;
}
.header {
  background-color: #41C9E2;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 40px;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease; /* Smooth color transition */
}

.navbar ul li a:hover {
  color: #ffd700; /* Change color on hover */
}

@media screen and (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li {
    display: block;
    margin: 10px 0;
  }
}

/* Keyframes for animations */
@keyframes fadeInUp {
  from {
    transform: translateY(20px); /* Start slightly below */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  background-color: #41C9E2;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  color: #000000;
  font-size: 20px;
}

.footer-nav {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav li a {
  font-size: 18px;
  color: #100f0f;
  text-decoration: none;
}

.footer-nav li a:hover {
  color: #ffd700;
}










